.mainHeading {
	position:relative;
}
.bottomLine {
	position: absolute;
	content: '';
    bottom: -9px;
    width: 150px;
    height: 4px;
    margin: 0 auto;
    background-color: #fcbc40;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}
.buttonLink {
    margin: 0 auto;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 5px;
    padding: 5px 25px;
    background-color: #ffffff;
    border: 1px solid rgba(57, 70, 134);
    border-radius: 50px;
    display: inline-block;
    float: right;
}
.buttonLink:hover {
    background-color: rgba(57, 70, 134);
    border: 1px solid rgba(57, 70, 134);
    color: #ffffff;
}
.fillWidthBack {
    float: left;
}
.buttonLinkBlue {
    margin: 0 auto;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 5px;
    padding: 5px 25px;
    border: 1px solid rgba(57, 70, 134);
    border-radius: 50px;
    display: inline-block;
    background-color: #ffffff;
    color: rgba(57, 70, 134);

}
.buttonLinkBlue:hover {
    background-color: rgba(57, 70, 134);
    color: #ffffff;
}
.mainModal {
    background-color: #000000;
    opacity: 0.6 !important;
}