.background {
    background-image: url("https://images.pexels.com/photos/797797/pexels-photo-797797.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.mainHeading {
    position: relative;
}
.bottomLine {
	position: absolute;
	content: '';
    bottom: -9px;
    width: 150px;
    height: 4px;
    margin: 0 auto;
    background-color: #fcbc40;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}
.profileImgouter {
    width: 250px;
    height: 240px;
    float:right;

}
.profileDetail h3 {
    font-family: 'Montserrat';
    text-transform: capitalize;
    font-weight: 600 !important;
}
.profileDetail h3 span {
    font-weight: normal !important;
    color: #3c3c3c !important;
}
.headingFirst {
    font-weight: 600;
}